#contact_us{
    width: calc(100% - 72px);
    background: var(--body-color);
    color: var(--font-color);
    font-size: var(--font-size);
    padding: 5% 2% 2% 5%;
    line-height: 1.6;
    margin-top: 10vw;

}


#contact_us p.cim{
    font-size: clamp(2rem, 2.5vw, 4rem);
}

#contact_us .footer-top{
    display: flex;
    justify-content: space-between;
}

#contact_us .footer-top .cim{
    width: 30%;
}

@media screen and (max-width: 50em){
    #contact_us{
        left: 0;
        font-size: 3vw;
    }

    #contact_us .footer-top .cim{
        margin-right: 20px;
    }
}
