:root{
    --speed: 2s;
    --body-color: #000;
    --border-color: linear-gradient(#004146, #018076);
    --font-color: #FFF;
}

.focim {
    left: 72px;
    width: calc(100%-72px);
    height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    background-image: url('../images/MotherBoard/01.jpg');
    background-size: cover;
    -moz-box-shadow: inset 0px -50px 20px -30px var(--body-color), inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: inset 0px -50px 20px -30px var(--body-color), inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    -o-box-shadow: inset 0px -50px 20px -30px var(--body-color), inset 0 0 0 2000px rgba(0, 0, 0, 0.7);
    box-shadow: inset 0px -50px 20px -30px var(--body-color), inset 0 0 0 2000px rgba(0, 0, 0, 0.7);

    animation-name: slider;
    animation-direction: alternate-reverse;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

.focim h1{
    font-size: 5vw;
    font-family: "Source Sans Pro", monospace;
    position: relative;
    width: max-content;
    color: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.focim h1::before,
.focim h1::after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left:0;
}

.focim h1::before{
    content:attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    animation: focim var(--speed) linear forwards;
}

.focim .subtitle{
    color: var(--font-color);
    font-size: 3vw;
    font-weight: 400;
    opacity: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--speed) + 1s) forwards;
}

@keyframes focim{
    to {
        color: var(--font-color);
    }
}

@keyframes fadeInUp{
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slider{
    33%{
        background-image: url('../images/MotherBoard/02.jpg');
    }
    66%{
        background-image: url('../images/MotherBoard/03.jpg');
    }
    0%,100%{
        background-image: url('../images/MotherBoard/01.jpg');
    }
}

@media screen and (max-width: 50em){
    .focim h1{
        font-size: 7vw;
    } 

    .focim .subtitle{
        font-size: 5vw;
    }
}