@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Inter:wght@300;400;500;600&display=swap');

:root{
    --speed: 3s;
    --body-color: black;
    --font-color: #FFF;
    --font-size:16px;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #3A3B3C; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
            box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*{
    font-family: 'Inter', sans-serif;
}

html{
    scroll-behavior: smooth;
    background: var(--body-color);
    color: var(--font-color);
}

body{
    overflow-x: hidden;
}

.btn-primary{
    border: 5px solid violet;
}

li{
    list-style-type: none;
    
}